.pad-top-navbar {padding-top: 70px;}
.hero-welcome {
    animation: hero-welcome-animation 36s infinite;
}

.is-animate-color {
    animation: hero-welcome-animation 6s infinite;
}

.is-animate-color-button {
    border: #24A4EA solid 2px;
    animation: animate-button 18s infinite;
    -webkit-text-fill-color: white !important;
}

.navbar {
    animation: animate-navbar 6s infinite;
}

@keyframes animate-navbar {
    0% {
        border-bottom: #eee1e1 solid 2px;
    }
    25%{
        border-bottom: #e3e3e3 solid 2px;
    }
    50%{
        border-bottom: #e9ebf3 solid 2px;
    }
    75%{
        border-bottom: #e6f7ec solid 2px;
    }
    100% {
        border-bottom: #edf2f7 solid 2px;
    }
}

@keyframes hero-welcome-animation {
    0% {
        background:linear-gradient(100deg,#24A4EA,#379DEB 25%,#B76BF0);
    }
    25%{
        background-color:yellow;
    }
    50%{
        background-color:limegreen;
    }
    75%{
        background-color:deepskyblue;
    }
    100% {
        background-color: #ff53d2;
    }
}

@keyframes animate-button {
    0% {
        background-color: purple;
    }
    25%{
        background-color: orange;
    }
    50%{
        background-color: red;
    }
    75%{
        background-color: green;
    }
    100% {
        background-color: deepskyblue;
    }
}
